<div id="action-bar">
  <%= render_partial :feed_action_bar %>
</div>

<div class="setup" id="add-feed-container">
    <h3>Title: <%= @story.title %></h3>
    <h3>Desc: <%= @story.body %></h3>
    <h4>Permalink: <%= @story.permalink %></h4>
    <h4>Image Url: <%= @story.image %></h4>
</div>